 .jumbotron-q,
 .jumbotron-i {
     height: 500px;
     margin-top: 40px;
     padding: 30px;
     background-color: lightblue;
 }

 .display-4, .lead {
     text-align: center;
 }

 .intro,
 .question_text {
     text-align: center;
 }

 .intro {
     font-size: 20px;
 }

 .question {
     font-size: 16px;

 }

 .quiz {
     box-align: center;

     height: 200px;
 }

 .btn {
     background-color: #4CAF50;
     /* Green */
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
 }

 #showScore {
     text-align: right;
 }
/*this will not be shown on the screen until the end of game when the questions will be set to display none, and this will be set to display block. */
 #winner {
     display: none;
 }